<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="Covid19_DBEntities" connectionString="metadata=res://*/Covid19.csdl|res://*/Covid19.ssdl|res://*/Covid19.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Covid19_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>